@font-face {
  font-family: 'Sarala';
  src: url('assets/fonts/Sarala-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Sarala';
  src: url('assets/fonts/Sarala-Bold.ttf');
  font-weight: 700;
}

.container {
  max-width: 375px;
  margin: auto;
  background-color: #eee;
  font-family: 'Sarala', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-wrapper {
  background-color: #fff;
  min-height: 100vh;
  padding-bottom: 2px;
}